.sidenav {
    color: white;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3f0e3f;
    overflow-x: hidden;
    padding-top: 20px;
    font-size: 14px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    color: white;
    text-decoration: none;
    display: block;
  }
  
  .sidenav a:hover {
    background: rgba(0, 0, 0, 0.5);
  }
  
  .activenav {
    background: rgb(72, 145, 134);
  }
  .main {
    margin-left: 200px; 
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 14px;}
  }